.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 70px 60px 45px 60px;
  min-width: 300px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  outline: transparent;
  position: relative;

  &__close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 45px;
  }

  &__text {
    text-align: center;
    line-height: 1.56;
    letter-spacing: 0.4px;
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    button {
      margin: 0 10px;
    }
  }
}
.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
